.thanks-content {
  padding: 20px 16px;
  h2 {
    margin-top: 10px;
    margin-top: 20px;
  }
  p {
    text-align: left;
  }
}

.campaign {
  padding: 4px 8px;
  border: 2px solid #66cc00;
  border-radius: 20px;
  b {
    color: #66cc00;
  }
}

.thanks-slider-wrap {
  max-width: 780px;
  padding-top: 20px 4px 30px;
}

.thanks-download-image-wrap {
  position: relative;
  z-index: 99;
  .mobile-download {
    position: absolute;
    right: 32px;
    bottom: 16px;
    font-weight: bold;
    letter-spacing: 0.025rem;
    cursor: pointer;
    a {
      padding: 4px 8px;
      color: #fff;
      font-size: 1.4rem;
    }
  }
}

.thanks-download-sticky {
  .sticky {
    background-color: #fff;
    z-index: 1;
  }
}

.cate-switcher {
  padding: 16px 0;
  text-align: center;
  .cate-grid {
    margin-top: 16px;
  }
}

.wallpaper-thumbnail-col {
  height: 180px;
  margin-bottom: 12px;
  opacity: 0.8;
  transition: 0.2s ease;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
}

.start-btn {
  position: fixed;
  span {
    color: #fff;
    font-size: 18px;
  }
}

/*
.mobile-download,
.cate-switcher {
  display: none;
}

.cate-switcher {
    position: fixed;
    bottom: 15px;
    right: 15px;
    display: block;
    z-index: 10;
  }
*/
