body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.slide-pane__overlay {
  z-index: 999;
}

.sticky-box {
  display: none;
}

.sticky .sticky-box {
  display: block;
}

.sweet-loading {
  /* height: 100vh; */
  height: 100vh;
  position: fixed !important;
}

/* slide pane */

.slide-pane {
  border-top-right-radius: 24px;
  border-top-left-radius: 24px;
}

.slide-pane_from_bottom {
  margin-top: 8vh;
}

.slide-pane__overlay.overlay-after-open {
  background-color: rgba(0, 0, 0, 0.75) !important;
}

.slide-pane__content {
  padding: 32px 20px !important;
}

.slide-pane__content {
  padding-bottom: 80px !important;
}

.chakra-select[aria-invalid="true"],
.chakra-input[aria-invalid="true"],
.chakra-input[data-invalid] {
  box-shadow: 0 0 0 1px red !important;
}
