.left-header_social ul {
  padding: 0px;
}

.half-hero-wrap h1 {
  font-family: inherit;
}

.half-hero-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mobile-content-wrap {
  position: absolute;
  bottom: 60px;
  top: 0px;
  width: 100%;
  text-align: left;
  background: #fff;
  overflow: scroll;
  img {
    border-radius: 10% / 50%;
  }
  .mobile-content {
    padding: 4px 20px 40px;
  }
  p {
    color: rgba(0, 0, 0, 0.65);
    font-size: 1rem;
    margin-bottom: 20px;
    text-align: justify;
  }
  h2 {
    background: @green-background;
    margin-top: -20px;
    color: #fff;
    padding: 4px 8px;
    margin-left: 8px;
    margin-bottom: 16px;
    display: inline-block;
    font-size: 1.6rem;
    letter-spacing: 2px;
  }
}

.start-btn:after {
  background: none;
}

.showshare{
  display: none;
}

.share-btn-desktop{
  cursor: pointer;
}

@media screen and (max-width: 564px) {
  .start-btn {
    left: 0;
  }
  .showshare{
    display: block;
  }
  .share-btn span{
    top: 20px;
  }
}
